* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
html,
body {
  padding: 10px 100px;
  font-size: 12px;
  font-family: "Microsoft YaHei";
}
.box {
  width: 750px;
  height: 385px;
  border: 1px solid #eee;
  padding: 6px 10px 0px 10px;
}
.box .header {
  height: 35px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  position: relative;
}
.box .header .preYear {
  float: left;
  cursor: pointer;
  display: none;
}
.box .header .preMon {
  float: left;
  cursor: pointer;
}
.box .header .nextYear {
  float: right;
  cursor: pointer;
  display: none;
}
.box .header .nextMon {
  float: right;
  cursor: pointer;
}
.box .header .leftdate {
  height: 35px;
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
.box .header .rightdate {
  height: 35px;
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
.box .week {
  overflow: hidden;
}
.box .week .leftdiv {
  height: 20px;
  float: left;
  width: 350px;
}
.box .week .leftdiv li {
  float: left;
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.box .week .rightdiv {
  height: 20px;
  float: right;
  width: 350px;
}
.box .week .rightdiv li {
  float: left;
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.box .con .leftul {
  height: auto;
  float: left;
  width: 350px;
}
.box .con .leftul li {
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0 0 -1px -1px;
}
.box .con .leftul .cur {
  border: 1px solid #eee;
}
.box .con .rightul {
  height: auto;
  float: right;
  width: 350px;
}
.box .con .rightul li {
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0 0 -1px -1px;
}
.box .con .rightul .cur {
  border: 1px solid #eee;
}
