* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
html,
body {
  padding: 10px 200px;
  font-size: 12px;
  font-family: "Microsoft YaHei";
}
.box {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 752px;
  height: auto;
  border: 1px solid #eee;
  overflow: hidden;
}
.box .header {
  height: 35px;
  position: relative;
  line-height: 35px;
}
.box .header .preYear {
  float: left;
  cursor: pointer;
  display: none;
}
.box .header .preMon {
  position: absolute;
  z-index: 2;
  left: 16px;
  top: 0;
  cursor: pointer;
}
.box .header .nextYear {
  float: right;
  cursor: pointer;
  display: none;
}
.box .header .nextMon {
  position: absolute;
  z-index: 2;
  right: 16px;
  top: 0;
  cursor: pointer;
}
.box .header .predate {
  height: 35px;
  width: 50%;
  position: absolute;
  left: -376px;
  top: 0;
  cursor: pointer;
  background: skyblue;
}
.box .header .predate li {
  float: left;
  text-align: center;
}
.box .header .predate li:first-child {
  margin-left: 140px;
}
.box .header .predate li:nth-child(2) {
  margin-left: 13px;
}
.box .header .leftdate {
  height: 35px;
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
.box .header .leftdate li {
  float: left;
  text-align: center;
}
.box .header .leftdate li:first-child {
  margin-left: 140px;
}
.box .header .leftdate li:nth-child(2) {
  margin-left: 13px;
}
.box .header .rightdate {
  height: 35px;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  cursor: pointer;
}
.box .header .rightdate li {
  float: left;
  text-align: center;
}
.box .header .rightdate li:first-child {
  margin-left: 140px;
}
.box .header .rightdate li:nth-child(2) {
  margin-left: 13px;
}
.box .header .nextTowdate {
  height: 35px;
  width: 50%;
  position: absolute;
  left: 100%;
  top: 0;
  cursor: pointer;
  background: skyblue;
}
.box .header .nextTowdate li {
  float: left;
  text-align: center;
}
.box .header .nextTowdate li:first-child {
  margin-left: 140px;
}
.box .header .nextTowdate li:nth-child(2) {
  margin-left: 13px;
}
.box .week {
  overflow: hidden;
}
.box .week .leftdiv {
  height: 20px;
  float: left;
  width: 350px;
  margin: 0 13px;
}
.box .week .leftdiv li {
  float: left;
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.box .week .rightdiv {
  height: 20px;
  float: right;
  width: 350px;
  margin: 0 13px;
}
.box .week .rightdiv li {
  float: left;
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.box .con {
  padding-bottom: 1px;
  min-height: 250px;
  position: relative;
  overflow: hidden;
}
.box .con .preul {
  height: 251px;
  float: left;
  width: 350px;
  position: absolute;
  left: -363px;
  top: 0;
  background: Cyan;
}
.box .con .preul li {
  float: left;
  width: 51px;
  height: 51px;
  text-align: center;
  line-height: 51px;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0 0 -1px -1px;
}
.box .con .preul .cur {
  border: 1px solid #eee;
}
.box .con .leftul {
  float: left;
  width: 350px;
  margin-left: 13px;
}
.box .con .leftul li {
  float: left;
  width: 51px;
  height: 51px;
  text-align: center;
  line-height: 51px;
  box-sizing: border-box;
  margin: 0 0 -1px -1px;
}
.box .con .leftul .cur {
  border: 1px solid #eee;
  cursor: pointer;
}
.box .con .leftul .pastCss {
  color: rgba(255, 202, 204, 0.8);
  cursor: default;
}
.box .con .leftul .selectedLi {
  background: #D1A361;
  color: #fff;
  border: 1px solid #D1A361;
}
.box .con .rightul {
  height: auto;
  float: left;
  width: 350px;
  margin-left: 26px;
}
.box .con .rightul li {
  float: left;
  width: 51px;
  height: 51px;
  text-align: center;
  line-height: 51px;
  box-sizing: border-box;
  margin: 0 0 -1px -1px;
}
.box .con .rightul .cur {
  border: 1px solid #eee;
  cursor: pointer;
}
.box .con .rightul .pastCss {
  color: rgba(255, 202, 204, 0.8);
  cursor: default;
}
.box .con .rightul .selectedLi {
  background: #D1A361;
  color: #fff;
  border: 1px solid #D1A361;
}
.box .con .nextTowul {
  height: 251px;
  float: left;
  width: 350px;
  position: absolute;
  left: 761px;
  top: 0;
  background: blue;
}
.box .con .nextTowul li {
  float: left;
  width: 51px;
  height: 51px;
  text-align: center;
  line-height: 51px;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0 0 -1px -1px;
}
.box .con .nextTowul .cur {
  border: 1px solid #eee;
}
.box .footer {
  height: 40px;
  margin: 0 16px;
  background: #FFFCFCFC;
  border-top: 1px solid #FFEAEBEF;
  margin-top: 25px;
  text-align: center;
  line-height: 40px;
}
